.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 60px;
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
}
.navbar .middlePart {
  display: flex;
  gap: 2rem;
}

.navbar .rightSection {
  display: flex;
  gap: 1rem;
}

.navbar .rightSection .launch {
  background: linear-gradient(90deg, #ff007b 0%, #7d009a 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.navbar .rightSection button {
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  border: none;
}

.navbar .rightSection .fibo {
  background: white;
  color: #000;
  font-weight: 600;
}

.navbar .hamburger {
  display: none;
}

.navMenuContainer {
  display: none;
  z-index: 10;
}

@media screen and (max-width: 1150px) {
  .navbar .middlePart,
  .navbar .rightSection {
    display: none;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navMenuContainer {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .navMenuContainer .crossIcon {
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
  }
  .navMenuContainer .crossIcon:hover {
    opacity: 1;
  }
  .navMenuContainer .navBarMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    margin-left: 3rem;
  }
  .navMenuContainer .navBarMenu svg {
    cursor: pointer;
  }
  .navMenuContainer .navBarMenu .notActive {
    background: linear-gradient(90deg, #ff007b 0%, #7d009a 100%);
    border-radius: 50%;
  }
  .navMenuContainer .navBarMenu button {
    width: 80vw;
    padding: 1.2rem;
  }
  .navMenuContainerVisible {
    display: block;
    -webkit-animation: menuOpen 0.6s forwards;
    animation: menuOpen 0.6s forwards;
  }
  @-webkit-keyframes menuOpen {
    0% {
      top: -100rem;
    }
    100% {
      top: 0;
    }
  }
  @keyframes menuOpen {
    0% {
      top: -100rem;
    }
    100% {
      top: 0;
    }
  }
}
