.mainDiv{
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
}

.topCards{
  display: grid;
  margin-left: 1rem !important;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  padding-right: 1rem;
  margin-bottom: 5rem !important;
}
