@import url("http://fonts.cdnfonts.com/css/minako");
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background: #010101;
  color: white;
  font-family: rubik;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.background img {
  height: 1000%;
  width: 150%;
  opacity: 0.5;
}

code {
  font-family: "Kanit", sans-serif;
}

.middlesec {
  min-height: calc(100vh - 290px);
}

* {
  scrollbar-color: #f2f2f2 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
}

button {
  outline: none !important;
  border: 0;
  border-radius: 8px;
  background-color: rgb(224, 14, 139);
  color: #fff;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  font-weight: 600;
  padding: 7px 30px;
  font-size: 18px;
}

.mycard {
  // max-width: calc(33.33% - 8px);
  // height: 410px;
  // min-width: 280px;
  margin: 0 4px 8px;
  width: 100%;
}
.container {
  max-width: unset;
  padding: 0 7%;
}

.ReactModal__Overlay {
  background: rgba(241, 173, 43, 0.4) !important;
  z-index: 99;
  .claimmodelouter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttonOuter {
      position: relative;
      button {
        position: absolute;
        right: 4px;
        top: 4px;
        margin: 0;
        font-size: 12px !important;
        padding: 3px 15px;
        border-radius: 12px;
      }
    }
    .fa-times {
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer;
    }
    h4 {
      font-size: 16px;
      margin-bottom: 8x;
      font-weight: 600;
    }
    h5 {
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 600;
      color: #777e90;
    }
    input {
      border: 2px solid #d2d2d2;
      border-radius: 15px;
      padding: 6px 20px;
      margin-bottom: 10px;
      font-size: 14px;
      outline: 0;
      &:focus {
        box-shadow: none;
      }
    }
    button {
      font-size: 13px !important;
    }
  }
}

.twittermodal {
  .logo {
    height: 30px;
    width: auto;
  }
  .fa-times {
    color: #f1ad2c;
  }
  h4 {
    text-align: center;
    margin-top: 20px;
    color: #23262f;
  }
  .twitterfeedinner {
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 60vh;
  }
}

.ReactModal__Content {
  overflow: visible !important;
}
.securitymodal {
  align-items: flex-start !important;
  .logo {
    height: 70px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
  }
  .fa-times {
    color: #f1ad2c;
  }
  h4 {
    text-align: left;
    margin-top: 40px;
    color: #23262f;
  }
  .border {
    padding: 8px 16px;
    border-radius: 12px;
    background-color: #f1ad2b;
    font-size: 14px;
    color: #23262f;
    border: 2px solid #f1ad2b;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: 2px solid #d2d2d2;
    img {
      margin-right: 6px;
      margin-top: -2px;
    }
  }
  .securityfeedinner {
    max-height: 500px;
    overflow-y: scroll;
    width: 100%;
    h4 {
      margin-bottom: 20px;
    }

    .mrow {
      display: flex;
      align-items: center;
      color: #23262f;
      font-weight: bold;
      margin: 8px 0;

      .name {
        min-width: 120px;
        text-align: right;
        margin-right: 14px;
      }
      .address {
        margin-right: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
      button {
        margin-right: 14px;
        background-color: #1da3ff;
        border: 2px solid #1da3ff;
        color: #fff;
        i {
          margin-right: 5px;
        }
      }
      img {
        &.isnotpool {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          border: 2px solid #fff;
          box-shadow: 0 0 0 2px #d2d2d2;
          margin-right: 10px;
          margin-left: 5px;
        }
        &.ispool {
          width: 80px;
          height: 80px;
          margin: 0 -14px 0 -16px;
        }
      }
    }
  }

  .teamtoken {
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 500;
    width: 100%;
    b {
      margin-right: 20px;
    }
    button {
      margin: 0 14px;
      background-color: #1da3ff;
      border: 2px solid #1da3ff;
      color: #fff;
      i {
        margin-right: 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .mrow {
      flex-direction: column;
      width: 100%;
    }
    .name,
    .address,
    button,
    .border {
      margin: 5px 0 !important;
    }
    .name {
      text-align: center !important;
    }

    .teamtoken {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 0;
      b {
        margin: 0;
      }
      button {
        margin: 5px 0;
      }
    }
  }

  .footerlogo {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 20px;
    opacity: 0.25;
  }
}
